<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="D:/TestCodeCamp_Programme/Submissions/Selenium_Webdriver_Test/SinglePage_Task/Deydamm"><classes><class name="User.UserManagementTests"><methods><include name="loginTest"/><include name="logoutTest"/></methods></class></classes></test></suite>