<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/hp/TestCodeCamp_Programme/Submissions/Selenium_Webdriver_Test/PageObjectModer_Task/OrangeHRM_POM">
        <classes>
            <class name="Login.LoginTest">
                <methods>
                    <include name="testLogin"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>