<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="D:/TestCodeCamp_Programme/Submissions/Selenium_Webdriver_Test/SinglePage_Task/Facebook">
    <classes>
            <class name="User.facebookSignIn">
                <methods>
                    <include name="LoginTest"/><include name="LogoutTest"/>
                </methods>
            </class>
    </classes>
    </test>
</suite>